
app/Config/database.php

app/Console

app/fonts

app/Lib/*

app/Locale

app/Cache

app/Test

app/tmp/cache/models/*

app/tmp/*

app/tmp/cache/persistent/*
app/tmp/logs/*
app/tmp/cache/models/myapp_cake_model_default_ustc_old_book_list

lib/*
vendors

app/tmp/cache/models/myapp_cake_model_default_ustc_old_book_list

app/tmp/cache/persistent/myapp_cake_core_cake_zh-cn

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/cache/persistent/myapp_cake_core_method_cache

app/tmp.zip

app/tmp/logs/error.log

app/tmp/cache/persistent/myapp_cake_core_default_zh-cn

app/tmp/cache/models/myapp_cake_model_default_ustc_old_book_users
